.details-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 70%;
  margin: 0 auto;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 20px;
}

.menu-item-info {
  flex: 1; /* Take available space */
}

.menu-item-info h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.menu-item-info p {
  margin: 5px 0;
  color: #555;
}

.menu-item-rating {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #28a745;
}

.menu-item-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.menu-item-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.add-button {
  background-color: #d09338;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #d09338;
}
